body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

h1 {
  /*quitar formato*/
  /* all: unset; */
  margin: 0px
}

.contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.display {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; /* centra el texto dentro */
  border: 1px solid black; /
}